@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 1rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0rem 2rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .header {
    padding: 0 5rem;
  }
}
.header__logo {
  cursor: pointer;
  width: 10rem;
}
@media (min-width: 768px) {
  .header__logo {
    width: 8rem;
  }
}
.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
@media (min-width: 768px) {
  .header-nav {
    flex-direction: row;
    -moz-column-gap: 4em;
         column-gap: 4em;
    width: auto;
  }
}
.header-nav__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}
@media (min-width: 768px) {
  .header-nav__ul {
    width: auto;
  }
}
.header-nav__ul-link {
  font-family: "Avenir Next Regular", "sans-serif";
  font-weight: 400;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
  text-decoration: none;
  color: #e0e0e0;
  cursor: pointer;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  border-bottom: 5px solid transparent;
}
@media (min-width: 768px) {
  .header-nav__ul-link {
    width: auto;
    padding: 1.5rem 0;
    margin-right: 3rem;
  }
}
@media (min-width: 1280px) {
  .header-nav__ul-link {
    padding: 2rem 0;
  }
}
.header-nav__ul-link:hover {
  border-bottom: 5px solid #FFFFFF;
}

.active-link {
  font-family: "Avenir Next Demi", "sans-serif";
  font-weight: 600;
  border-bottom: 5px solid #FFFFFF;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  height: 40vh;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  isolation: isolate;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    background-size: cover;
  }
}
.hero::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero {
    height: 102vh;
  }
}
.hero__text {
  font-family: "Avenir Next Demi", "sans-serif";
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  padding: 0rem 1rem;
}
@media (min-width: 768px) {
  .hero__text {
    font-family: "Avenir Next Demi", "sans-serif";
    line-height: 4.25rem;
    font-size: 3rem;
    padding: 0rem 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    padding: 0 5rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    margin-top: 15rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1280px) {
  .about {
    padding-left: 5rem;
  }
}
.about__title {
  font-family: "Avenir Next Demi", "sans-serif";
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 4rem 1rem 2.25rem 2rem;
  }
}
.about__image {
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
  aspect-ratio: 16/9;
}
@media (min-width: 768px) {
  .about__image {
    padding-bottom: 2.25rem;
  }
}
.about__caption {
  font-family: "Avenir Next Demi", "sans-serif";
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1rem;
  font-weight: 700;
  width: 90%;
  padding: 0.25rem 1rem;
}
@media (min-width: 768px) {
  .about__caption {
    margin: auto;
    font-family: "Avenir Next Demi", "sans-serif";
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.about__text {
  font-family: "Avenir Next Regular", "sans-serif";
  line-height: 1.125rem;
  font-size: 0.8125rem;
  margin: auto;
}
@media (min-width: 768px) {
  .about__text {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    font-family: "Avenir Next Demi", "sans-serif";
    font-weight: 600;
    font-size: 1.25rem;
  }
}
.about__subtitle {
  font-family: "Avenir Next Demi", "sans-serif";
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1rem;
  padding: 1rem 0rem 0rem 1rem;
}
@media (min-width: 768px) {
  .about__subtitle {
    width: 90%;
    margin: auto;
    font-family: "Avenir Next Demi", "sans-serif";
    font-weight: 600;
    font-size: 1.75rem;
    margin-top: 4rem;
  }
}
.about-grid {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}
@media (min-width: 768px) {
  .about-grid {
    flex-direction: row;
    width: 90%;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.about-grid__text {
  font-family: "Avenir Next Regular", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.photo-gallery {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .photo-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .photo-gallery {
    padding-left: 5rem;
  }
}
.photo-gallery__title {
  font-family: "Avenir Next Demi", "sans-serif";
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__title {
    font-family: "Avenir Next Demi", "sans-serif";
    line-height: 2.75rem;
    font-size: 2.25rem;
    align-self: flex-start;
    padding: 1rem 2rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__title {
    padding: 2rem;
  }
}
.photo-gallery-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (min-width: 768px) {
  .photo-gallery-grid {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2.25rem;
         column-gap: 2.25rem;
    padding: 0 2rem;
  }
}
.photo-gallery-grid__image {
  width: 80vw;
  padding-bottom: 1rem;
  filter: grayscale(100%);
}
.photo-gallery-grid__image:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .photo-gallery-grid__image {
    max-width: 30%;
    padding-bottom: 2.25rem;
  }
}

.conversation {
  background-color: #FFFFFF;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.conversation .invalid-form {
  border: 3px solid #D22D2D;
}
@media (min-width: 768px) {
  .conversation {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .conversation {
    padding: 2rem 5rem;
  }
}
.conversation__title {
  font-family: "Avenir Next Demi", "sans-serif";
  line-height: 2rem;
  font-size: 1.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .conversation__title {
    font-size: 2.25rem;
  }
}
.conversation .flex-row-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
  width: 100%;
  position: relative;
}
.conversation .flex-row-container--space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.conversation .flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.conversation-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem 0 1rem 4rem;
  align-self: flex-end;
  width: 100%;
  border-bottom: 3px solid #e0e0e0;
}
@media (min-width: 768px) {
  .conversation-form {
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .conversation-form {
    width: 79%;
  }
}
.conversation-form__label {
  font-family: "Avenir Next Demi", "sans-serif";
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 0.9em;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 69%);
  align-self: flex-start;
}
.conversation-form__image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  left: -4rem;
}
@media (min-width: 768px) {
  .conversation-form__image {
    width: 48px;
    height: 48px;
  }
}
.conversation-form__input {
  font-family: "Avenir Next Regular", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  padding: 0.6rem;
  width: 100%;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .conversation-form__input {
    padding: 0.85rem;
  }
}
.conversation-form__input--big {
  font-family: "Avenir Next Regular", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  border: 3px solid #e0e0e0;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 1rem 1rem 5rem 1rem;
  width: 100%;
  resize: none;
}
.conversation-form ::-moz-placeholder {
  color: #323232;
}
.conversation-form :-ms-input-placeholder {
  color: #323232;
}
.conversation-form ::placeholder {
  color: #323232;
}
.conversation-form__textarea {
  margin-left: 5rem;
  width: 85%;
}
.conversation-form__button {
  font-family: "Avenir Next Demi", "sans-serif";
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #323232;
  padding: 1rem;
  margin-left: 5rem;
  width: 100%;
  cursor: pointer;
  align-self: flex-end;
}
@media (min-width: 768px) {
  .conversation-form__button {
    max-width: 15rem;
  }
}
.conversation-form__button:hover {
  background-color: #000000;
}
.conversation-comments-comment {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem 0 1rem 4rem;
  align-self: flex-end;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid #e0e0e0;
  position: relative;
}
@media (min-width: 768px) {
  .conversation-comments-comment {
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .conversation-comments-comment {
    width: 79%;
  }
}
.conversation-comments-comment__delete-button {
  position: absolute;
  bottom: 0;
  right: 0rem;
  font-size: 0.8rem !important;
  cursor: pointer;
}
.conversation-comments-comment__like-button {
  position: absolute;
  bottom: 0;
  right: 1rem;
  cursor: pointer;
  font-size: 0.8rem !important;
}
.conversation-comments-comment__like-button--liked {
  color: hsl(240deg, 100%, 50%);
}
.conversation-comments-comment__user-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e0e0e0;
  position: absolute;
  left: -3.7rem;
  top: 0.5rem;
}
@media (min-width: 768px) {
  .conversation-comments-comment__user-pic {
    width: 48px;
    height: 48px;
  }
}
.conversation-comments-comment__user-name {
  font-family: "Avenir Next Demi", "sans-serif";
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.conversation-comments-comment__date {
  font-family: "Avenir Next Regular", "sans-serif";
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(0deg, 0%, 69%);
}
.conversation-comments-comment__message {
  font-family: "Avenir Next Regular", "sans-serif";
  font-weight: 400;
  margin-top: -1.5rem;
}

.footer {
  margin-top: 2rem;
  background-color: #323232;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2rem 5rem;
  }
}
.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0rem;
}
@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer-top__left {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer-top__left {
    flex-direction: row;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
.footer-top__title {
  font-family: "Avenir Next Demi", "sans-serif";
  line-height: 2rem;
  font-size: 1.5rem;
  color: white;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer-top__title {
    font-size: 2.25rem;
    color: white;
  }
}
.footer-top__icons {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  position: relative;
  bottom: 0.5rem;
}
.footer-top__icon--instagram {
  width: 2rem;
}
.footer-top__icon--facebook {
  width: 1.1rem;
}
.footer-top__icon--twitter {
  width: 2rem;
}
.footer-top__icon--top-logo {
  width: 10rem;
  padding-right: 2rem;
  display: none;
}
@media (min-width: 768px) {
  .footer-top__icon--top-logo {
    display: block;
  }
}
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
}
@media (min-width: 768px) {
  .footer-center {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
.footer-center__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1.5rem;
  width: auto;
  margin: 0;
  margin-bottom: 1.5rem;
  min-width: 13rem;
}
@media (min-width: 768px) {
  .footer-center__section {
    margin: 0;
  }
}
.footer-center__section-top {
  font-family: "Avenir Next Demi", "sans-serif";
}
.footer-center__section-bottom {
  font-family: "Avenir Next Regular", "sans-serif";
}
.footer-center__text {
  color: white;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .footer-center__text {
    font-size: 0.9rem;
  }
}
.footer-bottom__text {
  font-family: "Avenir Next Regular", "sans-serif";
  font-weight: 400;
  font-size: 0.74rem;
  color: white;
  margin: 2rem 0;
}
@media (min-width: 335px) {
  .footer-bottom__text {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .footer-bottom__text {
    font-size: 0.9rem;
  }
}
.footer-bottom__icon {
  margin-top: 5rem;
  margin-left: 1rem;
  width: 8rem;
  display: block;
}
@media (min-width: 768px) {
  .footer-bottom__icon {
    display: none;
  }
}

.email {
  text-decoration: none;
}/*# sourceMappingURL=bio.css.map */